apiVersion: v1
kind: Namespace
metadata:
  name: argo-rollouts
# ---
# apiVersion: external-secrets.io/v1beta1
# kind: ExternalSecret
# metadata:
#   name: sso
#   namespace: argo-rollouts
#   labels:
#     app.kubernetes.io/part-of: argocd
# spec:
#   refreshInterval: "5m"
#   secretStoreRef:
#     kind: ClusterSecretStore
#     name: 1password
#   target:
#     creationPolicy: Owner
#   data:
#     - secretKey: token
#       remoteRef:
#         key: sso
#         property: workflows
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-rollouts
  namespace: argocd
spec:
  destination:
    namespace: argo-rollouts
    server: https://kubernetes.default.svc
  project: homelab
  source:
    chart: argo-rollouts
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 2.40.5
    helm:
      values: |
        fullnameOverride: argo-rollouts
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    # syncOptions:
    # - serversideApply=true
    # - force-conflicts=true
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd
  namespace: argocd
spec:
  parentRefs:
    - name: internal
      namespace: gateway
      sectionName: https
  hostnames:
    - "rollouts.nahops.co.uk"
  rules:
    - backendRefs:
        - name: argocd-server
          port: 443
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: argocd-private
  namespace: argocd
  annotations:
    external-dns.custom/type: private
spec:
  endpoints:
    - dnsName: rollouts.nahops.co.uk
      recordType: CNAME
      targets:
        - intgw.nahops.co.uk