[defaults]
inventory                  = inventory
host_key_checking          = false
interpreter_python         = 'python3'
timeout                    = 30
remote_user                = kaygee
hash_behaviour             = merge
forks                      = 32

# Updated from community.general.yaml to built-in default with yaml format
stdout_callback            = ansible.builtin.default
result_format              = yaml

# Do not use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks      = False

collections_path           = .dependencies
roles_path                 = .dependencies:roles

vars_plugins_enabled       = host_group_vars

lookup_plugins             = plugins/lookup

[diff]
always                     = true

[ssh_connection]
pipelining                 = true
ssh_args                   = -o ProxyJump=abel

[inventory]
enable_plugins             = yaml,ini