apiVersion: v1
kind: Namespace
metadata:
  name: argo-imageupdater
# ---
# apiVersion: external-secrets.io/v1beta1
# kind: ExternalSecret
# metadata:
#   name: sso
#   namespace: argo-imageupdater
#   labels:
#     app.kubernetes.io/part-of: argocd
# spec:
#   refreshInterval: "5m"
#   secretStoreRef:
#     kind: ClusterSecretStore
#     name: 1password
#   target:
#     creationPolicy: Owner
#   data:
#     - secretKey: token
#       remoteRef:
#         key: sso
#         property: image
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-imageupdater
  namespace: argocd
spec:
  destination:
    namespace: argo-imageupdater
    server: https://kubernetes.default.svc
  project: homelab
  source:
    chart: argo-image-updater
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 0.9.0
    helm:
      values: |
        fullnameOverride: image-updater
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
    - serversideApply=true
    - force-conflicts=true
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd
  namespace: argocd
spec:
  parentRefs:
    - name: internal
      namespace: gateway
      sectionName: https
  hostnames:
    - "image.nahops.co.uk"
  rules:
    - backendRefs:
        - name: argocd-server
          port: 443
---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: argocd-private
  namespace: argocd
  annotations:
    external-dns.custom/type: private
spec:
  endpoints:
    - dnsName: image.nahops.co.uk
      recordType: CNAME
      targets:
        - intgw.nahops.co.uk