---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  labels:
    argocd.argoproj.io/instance: manifests
  name: homelab-manifest
  namespace: argocd
spec:
  goTemplate: true
  generators:
    - git:
        files:
          - path: kubernetes/argo/manifests/*.yaml
        repoURL: https://github.com/mattkgwhite/home-ops.git
        revision: main
  template:
    metadata:
      name: '{{ .path.basename }}'
    spec:
      destination:
        namespace: '{{ .path.basename }}'
        server: "https://kubernetes.default.svc"
      project: default
      source:
        path: '{{ .path.path }}'
        repoURL: https://github.com/mattkgwhite/home-ops.git
        targetRevision: HEAD
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: true
        syncOptions:
          - CreateNamespace=true
